@font-face { font-family: Fipps; src: url('fipps-regular-copy.otf'); } 

body {
	background-image: linear-gradient(-180deg, #0047E4 0%, #00A6FF 100%);
	background-size: auto 100%;
	background-repeat: no-repeat;
	margin: auto;
	overflow: hidden;
}

#openingSequence {
	position: relative;
	z-index: 8;
	width: 100%;
}

h1 {
	font-family: Fipps;
	color: black;
	font-size: 100px;
}

h3 {
	font-size: 50px;
}

#explainerBoxWrapper {
	position: absolute;
	width: 100%;
	top: 20%;
	left: 0%;
	opacity: 0;
	transition: opacity 2s linear;

}

#explainerBox {
	width: 450px;
	background-color: white;
	border: 2px solid black;
    border-radius: 20px;
    margin: auto;
    line-height: 25px;
    padding-top: 5px;
}

#countDownTillTrumpsChinaTrip {
	text-decoration: bold !important;
}

p {
	color: black;
	font-size: 20px;

}

.testing {
	height: 700px;
	text-align: center;


}

.beginningText {
	color: white;
	padding-top: 30px;
	line-height: 500%;
}

.buttonWrapper {
	width: 100%;
	position: absolute;
	top: 65%;
	left: 50%;

}

.clickMeButtonUp {
	height: 50px;
	transform: translate(-50%, -50%);

}

.beginLessonHidden {
	display: none;
}

.beginLesson {
	height: 70px;
	position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-top: -50%;
    margin-left: -50%;
}

.beginButtonLessonWrapper {
	position: absolute;
    max-width: 45%;
    max-height: 45%;
    top: 60%;
    left: 50%;
}

#trumpWrapper {
	position: absolute;
	top: 400px;
	right: -200px;
}

#trump {
	position: relative;
	bottom: 0;
	right: 0;
}

/*first Question 
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------*/

#firstQuestion {
	position: relative;
	z-index: 7;
	width: 100%;
}

#howYouSayChina {
	font-size: 32px;
	padding-top: 70px;
	text-align: center;
	color: black;
	font-family: Fipps;
	margin-bottom: 0;
}

#squareWrapper {
	width: 100%;
	 margin: 50px auto;
}

#anotherWrapperFirstQ {
	width: 80%;
	text-align: center;
	margin: auto;
}
	

.square {
	position: relative;
	float: left;
	width: 200px;
	height: 200px;
	margin-left: 10px;
	margin-top: 10px;
	/* Rectangle 6: */
	background: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(88,88,88,0.50);
	border-radius: 2%;

}

.square:hover {
	transform: scale(1.1, 1.1);
}

.selectedSquare {
	outline: 3px dashed white;
    outline-offset: -10px;
}

#chinaBox {
	background-image: url("../images/chinaBox.png");
	background-size: 110%;
	background-position: center;
}

#japanBox {
	background-image: url("../images/japanBox.png");
	background-size: 110%;
	background-position: center;
}

#franceBox {
	background-image: url('../images/franceBox.png');
	background-size: 110%;
	background-position: center;
}

#americaBox {
	background-image: url('../images/americaBox.png');
	background-size: 110%;
	background-position: center;
}



.textInSquare {
	width: 100%;
	height: 15%;
	background: #e6ffff;
	position: relative;
	top: 85%;
	text-align: center;
	font-size: 22px;
	
}

#checkAnswerWrapper {
	width: 100%;
	float: left;
	margin-top: 50px;
	margin-bottom: 145px;
}

#checkAnswerSecondWrapper {
	margin: 0 auto;
	width: 30%;
}

#checkAnswer {
	float: left;
	padding-top: 5px;
	width: 300px;
	height: 50px;
	background: #FFFFFF;
	margin: 0px auto;
	text-align: center;
	font-size: 30px;
	border-radius: 3px;
}


.correctAnswer {
	background: #00ff80 !important;
}

.incorrectAnswer {
	background: #ff1a1a !important;
}

#reviewPlusNextLesson {
	position: fixed;
	float: left;
	bottom: 0;
	width: 100%;
	height: 10%;
	margin: auto;
	background: #E2E0E2;
	z-index: inherit;
	vertical-align: 20px;
	box-shadow: 0 0 20px 0 rgba(1, 1, 1, 0.6);
	display: none;
}

#reviewPlusNextLessonWrapper {
	width: 95%;
	margin: 0 auto;
	position: relative;
}

#reviewText {
	float: left;
	text-align: center;
	font-size: 20px;
	font-weight: bold;

}

.buttonWrapperHello {
	float: left;
	width: 130px;
	height:30px;
	border: solid;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 15px;
}

.buttonWrapperHello:hover {
	position: relative;
	top: 2px;
}

#nextButton {
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
	text-align: center;
}

#nextButton:hover {
	position: relative;
	top:2px;
}

#xiHuan {
	font-size: 80px;
}

/*second Question css 
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------*/

#secondQuestion {
	position: relative;
	display: block;
	z-index: 6;
	width: 100%;
}

#secondQuestionTextWrapper {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

#howYouSayLike {
	font-size: 32px;
	padding-top: 70px;
	text-align: center;
	line-height: 50px;
	color: black;
	font-family: Fipps;
	margin-bottom: 0;
}

#xiHuan {
	font-size: 80px;
}

.squareWrapperSecondQ {
	 width: 100%;
	 margin: 50px auto;

}

.anotherWrapperSecondQ {
	width: 80%;
	text-align: center;
	margin: auto;

}

.squareSecondQ {
	width: 200px;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	/* Rectangle 6: */
	background: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(88,88,88,0.50);
	border-radius: 2%;
	text-align: center;
	font-size: 35px;
	padding-top: 50px;

}

.squareSecondQ:hover {
	transform: scale(1.1, 1.1);
	z-index: 1;
}

.selectedSquare {
	outline: 3px dashed blue;
    outline-offset: -10px;
}

.textInSquare {
	width: 100%;
	height: 15%;
	background: #e6ffff;
	position: relative;
	top: 85%;
	text-align: center;
	font-size: 22px;
	
}

#checkAnswerWrapperSecondQ {
	width: 100%;
	float: left;
	margin-top: 50px;
	margin-bottom: 145px;

	
}

#submitAndReplayButtonWrapperSecondQ {
	width: 50%;
	margin: 0 auto;
}

#checkAnswerSecondQ {
	float: left;
	padding-top: 5px;
	width: 300px;
	height: 50px;
	background: #FFFFFF;
	margin: 0px auto;
	text-align: center;
	font-size: 30px;
	border-radius: 3px;
}


#replayAudioButtonSecondQ {
	float: left;
	padding-top: 5px;
	margin-left: 30px;
	width: 200px;
	height: 50px;
	background: #FFFFFF;
	text-align: center;
	font-size: 30px;
	border-radius: 3px;
}

.correctAnswer {
	background: #00ff80 !important;
}

.incorrectAnswer {
	background: #ff1a1a !important;
}

#reviewPlusNextLessonSecondQ {
	position: fixed;
	float: left;
	bottom: 0;
	width: 100%;
	height: 10%;
	margin: auto;
	background: #E2E0E2;
	z-index: inherit;
	vertical-align: 20px;
	box-shadow: 0 0 20px 0 rgba(1, 1, 1, 0.6);
	display: none;
}

#reviewPlusNextLessonWrapperSecondQ {
	width: 85%;
	margin: 0 auto;
	position: relative;
}

#reviewTextSecondQ {
	float: left;
	text-align: center;
	font-size: 20px;
	font-weight: bold;

}

.buttonWrapperSecondQ {
	float: left;
	width: 130px;
	height:30px;
	border: solid;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 15px;
	
}

#nextButtonSecondQ {
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
	text-align: center;

}

.buttonWrapperSecondQ:hover {
	position: relative;
	top: 2px;
}

#nextButtonSecondQ:hover {
	position: relative;
	top:2px;
}

/*third Question css 
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------*/

#thirdQuestion {
	position: relative;
	display: block;
	z-index: 5;
	width: 100%;
}

#thirdQuestionTextWrapper {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

#howDoYouSayI {
	display: block;
	font-size: 32px;
	padding-top: 70px;
	text-align: center;
	color: black;
	font-family: Fipps;
	margin-bottom: 0;
}

.squareWrapperThirdQ {
	 width: 100%;
}

#anotherDamnWrapperThirdQ {
	position: relative;
	width: 60%;
	text-align: center;
	margin: auto;
	margin-top: 50px;
}

.squareThirdQ {
	width: 200px;
	height: 200px;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	/* Rectangle 6: */
	background: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(88,88,88,0.50);
	border-radius: 2%;

}

.squareThirdQ:hover {
	transform: scale(1.1, 1.1);
	z-index: 1;
}


#theyBox {
	background-image: url("../images/we_graphic.png");
	background-size: 110%;
	background-position: center;
}

#japanBox {
	background-image: url("../images/japanBox.png");
	background-size: 110%;
	background-position: center;
}

#youBox {
	background-image: url('../images/you_graphic.png');
	background-size: 110%;
	background-position: center;
}

#iBox {
	background-image: url('../images/i_graphic.png');
	background-size: 110%;
	background-position: center;
}


.textInSquareThirdQ {
	width: 100%;
	height: 15%;
	background: #e6ffff;
	position: relative;
	top: 85%;
	text-align: center;
	font-size: 22px;
	
}

#checkAnswerWrapperThirdQ {
	width: 100%;
	float: left;
	margin-top: 50px;
	margin-bottom: 50px;

	
}

#checkAnswerThirdQ {
	padding-top: 5px;
	width: 300px;
	height: 50px;
	background: #FFFFFF;
	margin: 30px auto;
	text-align: center;
	font-size: 30px;
	border-radius: 3px;
}


#reviewPlusNextLessonThirdQ {
	position: fixed;
	float: left;
	bottom: 0;
	width: 100%;
	height: 10%;
	margin: auto;
	background: #E2E0E2;
	z-index: inherit;
	vertical-align: 20px;
	box-shadow: 0 0 20px 0 rgba(1, 1, 1, 0.6);
	display: none;
}

#reviewPlusNextLessonWrapperThirdQ {
	width: 75%;
	margin: 0 auto;
	position: relative;
}

#reviewTextThirdQ {
	float: left;
	text-align: center;
	font-size: 20px;
	font-weight: bold;

}

.buttonWrapperThirdQ {
	float: left;
	width: 130px;
	height:30px;
	border: solid;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 15px;
	
}

#nextButtonThirdQ {
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
	text-align: center;
}

.buttonWrapperThirdQ:hover {
	position: relative;
	top: 2px;
}

#nextButtonThirdQ:hover {
	position: relative;
	top:2px;
}

/*fourth Question css 
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------*/


#fourthQuestion {
	position: relative;
	display: block;
	z-index: 4;
	width: 100%;
}

#fourthQuestionTextWrapper {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

#howYouSayVery {
	padding-top: 70px;
	font-size: 32px;
	text-align: center;
	color: black;
	font-family: Fipps;
	margin-bottom: 0;
	line-height: 60px;
}

#hen {
	font-size: 60px;
}

.squareWrapperFourthQ {
	 width: 100%;
	 margin: 50px auto;

}

.anotherWrapperFourthQ {
	width: 80%;
	text-align: center;
	margin: auto;

}

.squareFourthQ {
	width: 200px;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	/* Rectangle 6: */
	background: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(88,88,88,0.50);
	border-radius: 2%;
	text-align: center;
	font-size: 35px;
	padding-top: 50px;

}

.squareFourthQ:hover {
	transform: scale(1.1, 1.1);
	z-index: 1;
}

.selectedSquare {
	outline: 3px dashed blue;
    outline-offset: -10px;
}

.textInSquareFourthQ {
	width: 100%;
	height: 15%;
	background: #e6ffff;
	position: relative;
	top: 85%;
	text-align: center;
	font-size: 22px;
	
}

#checkAnswerWrapperFourthQ {
	width: 100%;
	float: left;
	margin-top: 50px;
	margin-bottom: 145px;

	
}

#submitAndReplayButtonWrapperFourthQ {
	width: 60%;
	margin: 0 auto;
}

#checkAnswerFourthQ {
	float: left;
	padding-top: 5px;
	width: 300px;
	height: 50px;
	background: #FFFFFF;
	margin: 0px auto;
	text-align: center;
	font-size: 30px;
	border-radius: 3px;
}


#replayAudioButtonFourthQ {
	float: left;
	padding-top: 5px;
	margin-left: 30px;
	width: 200px;
	height: 50px;
	background: #FFFFFF;
	text-align: center;
	font-size: 30px;
	border-radius: 3px;
}


#reviewPlusNextLessonFourthQ {
	position: fixed;
	float: left;
	bottom: 0;
	width: 100%;
	height: 10%;
	margin: auto;
	background: #E2E0E2;
	z-index: inherit;
	vertical-align: 20px;
	box-shadow: 0 0 20px 0 rgba(1, 1, 1, 0.6);
	display: none;
}

#reviewPlusNextLessonWrapperFourthQ {
	width: 75%;
	margin: 0 auto;
	position: relative;
}

#reviewTextFourthQ {
	float: left;
	text-align: center;
	font-size: 20px;
	font-weight: bold;

}

.buttonWrapperFourthQ {
	float: left;
	width: 130px;
	height:30px;
	border: solid;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 15px;
	
}

#nextButtonFourthQ {
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
	text-align: center;

}

.buttonWrapperFourthQ:hover {
	position: relative;
	top: 2px;
}

#nextButtonFourthQ:hover {
	position: relative;
	top:2px;
}

/*fifth Question css 
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------*/



#fifthQuestion {
	position: relative;
	display: block;
	z-index: 3;
	width: 100%;
}

#fifthQuestionTextWrapper {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
#howYouSayIReallyReallyReallyLikeChina {
	font-size: 32px;
	padding-top: 70px;
	text-align: center;
	color: black;
	font-family: Fipps;
	margin-bottom: 0;
}


#translateBoxWrapper {
	position: relative;
	float: left;
	width: 100%;
	margin: 20px auto 0 auto;
	text-align: center;
}

#translateBox {
	width: 70%;
	height: 175px;
	border: 5px dashed white;
	text-align: center;
	margin: auto;
	vertical-align: middle;
	z-index: 0;
	overflow: hidden;
}

.translateBoxCover {
	position: relative;
	width: 99%;
	height: 99%;
	margin: 1% auto;
}

#choices {
	position: relative;
	float: left;
	width: 100%;
	margin: 20px auto 0 auto;
}

#choicesWrapper {
	width: 90%;
	margin: 0 auto;
}

.choices {
	position: relative;
	float: left;
	background: #FFFFFF;
	width: 75px;
	height: 50px;
	margin-left: 7px;
	margin-top: 5px;
	text-align: center;
	padding-top: 15px;
	box-shadow: 0 4px 8px 0 rgba(88,88,88,0.50);
	border-radius: 2%;
	font-size: 22px;
}

.choices:hover {
	transform: scale(1.1, 1.1);
}



#checkAnswerWrapperFifthQ {
	width: 100%;
	float: left;
	margin-top: 10px;
	margin-bottom: 50px;	
}

#checkAnswerFifthQ {
	padding-top: 5px;
	width: 300px;
	height: 50px;
	background: #FFFFFF;
	margin: 10px auto;
	text-align: center;
	font-size: 30px;
	border-radius: 3px;
}

#reviewPlusNextLessonFifthQ {
	position: fixed;
	float: left;
	bottom: 0;
	width: 100%;
	height: 10%;
	margin: auto;
	background: #E2E0E2;
	z-index: inherit;
	vertical-align: 20px;
	box-shadow: 0 0 20px 0 rgba(1, 1, 1, 0.6);
	display: none;
}

#reviewPlusNextLessonWrapperFifthQ {
	width: 70%;
	margin: 0 auto;
	position: relative;
}

#reviewTextFifthQ {
	float: left;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.buttonWrapperFifthQ {
	float: left;
	width: 130px;
	height:30px;
	border: solid;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 30px;
}

#finishButtonFifthQ {
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
	text-align: center;
}

.buttonWrapperFifthQ:hover {
	position: relative;
	top: 2px;
}

#finishButtonFifthQ:hover {
	position: relative;
	top:2px;
}

