body {
	background-image: linear-gradient(-180deg, #0047E4 0%, #00A6FF 100%);
	background-size: auto 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	margin: auto;
}

@font-face { font-family: Fipps; src: url('fipps-regular-copy.otf'); } 

@font-face {font-family: HongKong; src: url('hongkong.ttf');}

#secondQuestion {
	position: relative;
	z-index: 6;
}

#howYouSayLike {
	font-size: 32px;
	padding-top: 70px;
	text-align: center;
	line-height: 50px;
	color: black;
	font-family: Fipps;
	margin-bottom: 0;
}

#xiHuan {
	font-size: 80px;
}

.squareWrapper {
	 width: 100%;
	 margin: 50px auto;

}

.anotherWrapper {
	width: 80%;
	text-align: center;
	margin: auto;

}

.square {
	width: 200px;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	/* Rectangle 6: */
	background: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(88,88,88,0.50);
	border-radius: 2%;
	text-align: center;
	font-size: 35px;
	padding-top: 50px;

}

.square:hover {
	transform: scale(1.1, 1.1);
	z-index: 1;
}

.selectedSquare {
	outline: 3px dashed blue;
    outline-offset: -10px;
}

.textInSquare {
	width: 100%;
	height: 15%;
	background: #e6ffff;
	position: relative;
	top: 85%;
	text-align: center;
	font-size: 22px;
	
}

#checkAnswerWrapper {
	width: 100%;
	float: left;
	margin-top: 50px;
	margin-bottom: 145px;

	
}

#submitAndReplayButtonWrapper {
	width: 50%;
	margin: 0 auto;
}

#checkAnswer {
	float: left;
	padding-top: 5px;
	width: 300px;
	height: 50px;
	background: #FFFFFF;
	margin: 0px auto;
	text-align: center;
	font-size: 30px;
	border-radius: 3px;
}


#replayAudioButton {
	float: left;
	padding-top: 5px;
	margin-left: 30px;
	width: 200px;
	height: 50px;
	background: #FFFFFF;
	text-align: center;
	font-size: 30px;
	border-radius: 3px;
}


.correctAnswer {
	background: #00ff80 !important;
}

.incorrectAnswer {
	background: #ff1a1a !important;
}

.correctAnswer {
	background: #00ff80 !important;
}

.incorrectAnswer {
	background: #ff1a1a !important;
}

#reviewPlusNextLesson {
	position: fixed;
	float: left;
	bottom: 0;
	width: 100%;
	height: 10%;
	margin: auto;
	background: #E2E0E2;
	z-index: inherit;
	vertical-align: 20px;
	box-shadow: 0 0 20px 0 rgba(1, 1, 1, 0.6);
}

#reviewPlusNextLessonWrapper {
	width: 85%;
	margin: 0 auto;
	position: relative;
}

#reviewText {
	float: left;
	text-align: center;
	font-size: 20px;
	font-weight: bold;

}

.buttonWrapper {
	float: left;
	width: 130px;
	height:30px;
	border: solid;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 15px;
	
}

#nextButton {
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
	text-align: center;

}
