body {
	background-image: linear-gradient(-180deg, #0047E4 0%, #00A6FF 100%);
	background-size: auto 100%;
	background-repeat: no-repeat;
	margin: auto;
}

@font-face { font-family: Fipps; src: url('fipps-regular-copy.otf'); } 

@font-face {font-family: HongKong; src: url('hongkong.ttf');}

.poop {
	position: relative;
}

h1 {
	padding-top: 70px;
	text-align: center;
	color: black;
	font-family: Fipps;
	margin-bottom: 0;
}

.squareWrapper {
	 width: 100%;
}

#anotherDamnWrapper {
	position: relative;
	width: 60%;
	text-align: center;
	margin: auto;
	margin-top: 50px;
}

.square {
	width: 200px;
	height: 200px;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	/* Rectangle 6: */
	background: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(88,88,88,0.50);
	border-radius: 2%;

}

.square:hover {
	transform: scale(1.1, 1.1);
	z-index: 1;
}

.selectedSquare {
	outline: 3px dashed white;
    outline-offset: -10px;
}

#theyBox {
	background-image: url("../images/we_graphic.png");
	background-size: 110%;
	background-position: center;
}

#japanBox {
	background-image: url("../images/japanBox.png");
	background-size: 110%;
	background-position: center;
}

#youBox {
	background-image: url('../images/you_graphic.png');
	background-size: 110%;
	background-position: center;
}

#iBox {
	background-image: url('../images/i_graphic.png');
	background-size: 110%;
	background-position: center;
}



.textInSquare {
	width: 100%;
	height: 15%;
	background: #e6ffff;
	position: relative;
	top: 85%;
	text-align: center;
	font-size: 22px;
	
}

#checkAnswerWrapper {
	width: 100%;
	float: left;
	margin-top: 50px;
	margin-bottom: 50px;

	
}

#checkAnswer {
	padding-top: 5px;
	width: 300px;
	height: 50px;
	background: #FFFFFF;
	margin: 30px auto;
	text-align: center;
	font-size: 30px;
	border-radius: 3px;
}


.correctAnswer {
	background: #00ff80 !important;
}

.incorrectAnswer {
	background: #ff1a1a !important;
}

#reviewPlusNextLesson {
	position: fixed;
	float: left;
	bottom: 0;
	width: 100%;
	height: 10%;
	margin: auto;
	background: #E2E0E2;
	z-index: inherit;
	vertical-align: 20px;
	box-shadow: 0 0 20px 0 rgba(1, 1, 1, 0.6);
}

#reviewPlusNextLessonWrapper {
	width: 75%;
	margin: 0 auto;
	position: relative;
}

#reviewText {
	float: left;
	text-align: center;
	font-size: 20px;
	font-weight: bold;

}

.buttonWrapper {
	float: left;
	width: 130px;
	height:30px;
	border: solid;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 15px;
	
}

#nextButton {
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
	text-align: center;

}


